---
- name: "Tmux | Run Debian-family tasks"
  ansible.builtin.include_tasks: "Debian.yml"
  when: ansible_os_family == "Debian"

- name: "Tmux | Run Darwin tasks"
  ansible.builtin.include_tasks: "Darwin.yml"
  when: ansible_os_family == "Darwin"

- name: "Tmux | Run RedHat-family tasks"
  ansible.builtin.include_tasks: "RedHat.yml"
  when: ansible_os_family == "RedHat"

- name: "Tmux | Backup existing TPM directory"
  ansible.builtin.command:
    cmd: mv ~/.tmux/plugins/tpm ~/.tmux/plugins/tpm.old
  ignore_errors: true

- name: "Tmux | Install TPM"
  ansible.builtin.git:
    repo: https://github.com/tmux-plugins/tpm
    dest: ~/.tmux/plugins/tpm

- name: "Tmux | Configure tmux"
  ansible.builtin.copy:
    src: tmux.conf
    dest: "{{ ansible_user_dir }}/.tmux.conf"
    mode: "0644"
    force: true

